.contactPage > h1 {
    text-align: center;
    margin: 2rem 0; 
}

.contactLogo {
    margin: 2rem auto; 
    padding: 0 2rem; 
    max-width: 100%; 
}

.contactUsInfo {
    display: flex;
    flex-flow: row nowrap; 
    justify-content: center;
    gap: 8rem; 
    text-align: center;
    line-height: 2rem;
    padding: 0 1rem; 
    margin: 10rem auto;
}

.contactUsInfo img:hover {
    transform: scale(1.2);
    cursor: pointer;
    transition: transform 0.3s ease;
}

@media screen and (max-width: 768px) {
    .contactUsInfo {
        gap: 1rem; 
    }

    .contactUsInfo{
        display: flex;
        flex-flow: column nowrap;
        margin: 4rem auto;
        gap: 4rem;
    }
}
